.main-navbar {
    background-color: #4d908e;
    display: flex;
    font-size: 1.2rem;
    padding-left: 15px;
    box-shadow: 0 0 2px 0 #000000;
}
.main-navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
}
.main-navbar a:hover {
    background-color: #396968;
}
.main-navbar a[active] {
    color: #F9C74F;
}
.main-navbar a[active]:hover {
    background-color: #4d908e;
}